<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENTBICI MAPA</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/RentaBicis/Templates/css/mapabici.css">
</head>
<body>
        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
            <div class="w3-container">
                <img src="/RentaBicis/Img/logo-no-background.png" style="width:45%;" class="w3-round">
            </div>
            <div class="w3-bar-block">
                <a href="/RentaBicis/Templates/html/login.html" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">INICIAR SESIÓN</a> 
                <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">CERRAR SESIÓN</a> 
                <a href="/RentaBicis/Templates/html/index.html" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>INICIO</a> 
                <a href="/RentaBicis/Templates/html/cuenta.html" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>CUENTA</a>
                <a href="/RentaBicis/Templates/html/metodoPago.html" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z"/>
                    </svg>
                    METODO DE PAGO</a>
            </div>
        </nav>
    
        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
        
        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:300px">

            <!-- Header -->
            <header id="portfolio">
                <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
                <div class="w3-container">
                    <img src="/RentaBicis/Img/logo-no-background.png" alt="" style="padding-top: 10px;">
                <div class="w3-section w3-bottombar w3-padding-16">
            </header>
            <div class="caja">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18369.20014361107!2d-73.96248612902893!3d40.782902298886164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1679935413244!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <a href="/RentaBicis/Templates/html/desbloqueobici.html"><button class="boton">Desbloquear</button></a>
            </div>
        </div>
        <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }
        
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
        </script>
</body>
</html>