<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENTBICI</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Templates/css/metodoPago.css">
</head>
<body>
    <div id="contenedor">
        <form class="caja" action="" method="POST">
            <div class="titulo">
                <h1>Metodo de pago</h1>
                <img src="/Img/mastercard.png" alt="" width="120px">
            </div>
            <div class="parent">
                <div class="div1">
                    <input type="text" id="cuenta" name="cuenta" placeholder="**** / **** / **** / ****" maxlength="54" required>
                    <input type="text" id="nombrePropietario" name="nombrePropietario" placeholder="Nombre del Propietario" maxlength="54" required>
                </div>
                <div class="div2">
                    <p>Fecha Vencimiento</p>
                    <input type="text" id="fechaVenMes" name="fechaVenMes" class="fechaVen" placeholder="mm" maxlength="108" required>
                    <input type="text" id="fechaVenAño" name="fechaVenAño" class="fechaVen" placeholder="aaaa" maxlength="108" required>
                </div>
                <div class="div3">
                    <p>Código de Seguridad</p>
                    <input type="text" id="cvv" name="cvv" class="cvv" placeholder="CVV" maxlength="108" required>
                </div>
                <div class="boton">
                    <button class="boton1" type="submit" name="introducir" value="Introducir">Introducir</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>