<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="/RentBici/Templates/css/registro.css">
	</head>
	<body>
		<div id="contenedor">
			<form class="caja" action="" method="POST">
				<div class="titulo">
					<h1>Crear Cuenta</h1>
				</div>
				<input type="text" id="usuario" name="usuario" placeholder="Usuario" maxlength="54" required>
				<input type="text" id="nombre" name="nombre" placeholder="Nombre" maxlength="108" required>
                <input type="date" id="fechaNac" name="fechaNac" placeholder="Fecha Nacimiento" maxlength="108" required>
                <input type="password" id="contrasenia" name="contrasenia" placeholder="Contraseña" maxlength="108" required>
                <input type="password" id="contrasenia" name="contrasenia" placeholder="Confirmar Contraseña" maxlength="108" required>
				<div class="boton">
					<button class="boton1" type="submit" name="crear" value="Crear">Crear</button>
				</div>
			</form>
		</div>
	</body>
</html>