body, html{
    height: 100%;
    font-family: "Raleway", sans-serif
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body {
    background-color: #f3f3f3;
}

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.boton {
    font-weight: bold;
    background-color: rgb(255, 234, 6);
    color: black;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    transition: 0.4s;
}

a {
    text-decoration: none;
}

.boton:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(255, 234, 6),
                0 0 20px rgb(223, 212, 88);
}

svg {
    margin-right: 15px;
}